# Python
__pycache__/
*.pyc

# VSCode / IDE
.vscode/
.idea/

# 本地資料庫 / log
chroma_db/
log.json

# 環境設定
.env

# Docker build caches
*.log
*.db
*.sqlite3

# Jupyter/Notebook
.ipynb_checkpoints/

# Mac 系統檔
.DS_Store
